*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
} 





.center-logo{
    text-align: center;
}

.center-logo img {
    max-width: 100%; 
    height: 200px; }

body {
    background-color: #ffffff;
}

header {
    background-color: #e9ecef;
    padding: 10px 0;
}

.custom-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form .form-text {
    color: #6c757d;
}


.section-separator {
    margin-top: 60px;
}


h1{
    text-align: center;
    color: rgb(23, 86, 204);
    padding: 10px;
}

h2{
    text-align: center;
    color: rgb(23, 86, 204);
}

.inicio-contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}


.inicio-contenedor .inicio-contenedor__enlace:hover {
    filter:brightness(1.3)
}
.inicio-contenedor .inicio-contenedor__enlace img {
    width: 100%;
    max-width: 450px;
    height: auto;
    max-height: 300px;
    padding: 0 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.sobreNosotrosCuadro {
    margin: 0 200px 0 200px;
    text-align:justify;

}


footer {
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    bottom: auto;
    position: absolute;
    width: 100%;
}
footer .p-footer {
    color:  rgb(23, 86, 204);
    text-align: center;
}




.list-group-item {
    text-align: center;
    padding: 5px 15px; 
    margin: 5px auto; 
    font-size: 1rem; 
    max-width: 550px; 
    width: 100%; 
    box-sizing: border-box; 
}


.list-group-item {
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
}


#exchange-rates {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center; 
}

#exchange-rates-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    font-size: 1.2em; 
    margin-left: 5px;
}

#exchange-rates-container p, h3 {
    font-size: 16px;
    margin: 0 10px; 
}
